#top-background {
    background-image: url("images/forest_bg.gif");
    background-repeat: round;
    height: 5vw;
}

#battleground {
    background-color: black;
    height: 23vw;
}

#interface {
    background-color: blue;
    border: 10px solid lightgray;
    border-radius: 2em;
    height: 20vw;
}

#warrior {
    float: right;
    margin: 4em;
    padding: 4em;
}

#warrior img {
    height: 190%;
    width: 190%;
}

#boss {
    float: left;
    margin: 3em;
    padding: 3em;
}

#boss img {
    height: 175%;
    width: 175%;
}