#top-background {
    background-image: url("images/forest_bg.gif");
    background-repeat: round;
    height: 5vw;
}

#battleground {
    background-color: black;
    height: 23vw;
}

.interface {
    background-color: blue;
    border: 10px solid lightgray;
    border-radius: 0.5em;
    height: 20vw;
    font-size: 2em;
    color: lightgray;
    font-family: monospace;
}

#warrior {
    float: right;
    margin: 4em;
    padding: 4em;
}

#warrior img {
    height: 190%;
    width: 190%;
}

#boss {
    float: left;
    margin: 3em;
    padding: 3em;
}

#boss img {
    height: 175%;
    width: 175%;
}

#info span { 
    text-align: center;
    margin: 0.5em;
    padding: 0.5em;
    text-shadow: 2px 2px 2px black;
}

#actions span {
    margin: 1em;
    padding: 1em;
    text-align: center;
    text-shadow: 2px 2px 2px black;
}