div {
    width: 100vw;
}

#top-background {
    background-color: green;
    height: 5vw;
}

#battleground {
    background-color: black;
    height: 25vw;
}

#interface {
    background-color: blue;
    height: 20vw;
}

#warrior {
    float: right;
    margin: 4em;
    padding: 4em;
}

#warrior img {
    height: 150%;
    width: 150%;
}

#boss {
    float: left;
    margin: 3em;
    padding: 3em;
}

#boss img {
    height: 150%;
    width: 150%;
}